// Import Tachyons from node_modules: https://github.com/tachyons-css/tachyons-sass
@import './node_modules/tachyons-sass/tachyons.scss';

// Add your own CSS rules here
.system { font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; }

// We can extend Tachyons styles in new classes like so
.card {
  @extend .system, .f2, .green, .ma4;
}

// Full Tachyons documentation: http://tachyons.io/docs/
// Quick reference & class generation tools: https://tachyons-tldr.now.sh
